.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.square {
  background-color: lightgray
}

#one {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#two {
  border-bottom: 2px solid black;
}

#three {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#four {
  border-right: 2px solid black
}

#five {

}

#six {
  border-left: 2px solid black;
}

#seven {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

#eight {
  border-top: 2px solid black;
}

#nine {
border-top: 2px solid black;
border-left: 2px solid black;
}